admin: telegram user id (only one id as owner)
bindmax: 2
bot_token: "75435543:XXXXXXXXX_XXXXXXXXXXXX"
cron: "0 */6 * * *"
db: mysql
errlimit: 5
mysql: 
  database: your database name
  host: mysql-###########.#######.net
  password: your database password
  port: 3306
  user: your database username
notice: |-

    This Bot manages your free Microsoft-365-E5 account subscription automatically.

sqlite: 
  db: data.db
table: users
